.img-container {
    width: 100%;
}

.swiper-container {
    margin-top: 13%
}

.swiper-img {
    margin-top: 3.7rem;
    width: 100%;
    height: 3.7rem;
}

.close-mask {
    position: absolute;
    top: 2%;
    right: 3%;
    width: 0.77rem;
    height: 0.77rem;
    border-radius: 50%;
    line-height: 0.78rem;
    background: #5f666e;
    text-align: center;
    color: white;
    font-size: 0.32rem;
    overflow: hidden;
    opacity: 0.7;
}

.background-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .9);
    z-index: 100000;
    overflow: hidden;
}

.head-fiveb-img {
    overflow: hidden;
    position: relative;
}

.fiveb-img {
    width: 100%;
    min-height: 4rem;
}

.head-fiveb-departure {
    position: absolute;
    bottom: 0.1rem;
    color: #fff;
    font-size: .24rem;
    width: 100%;
    padding: 0 0.5rem;
    box-sizing: border-box;
    margin-bottom: .42rem
}

.head-fiveb-departure-right {
    float: right;
}